git:
  root:
  paths:
    - molgenis-platform-integration-tests/src/test/resources/xls
    - molgenis-platform-integration-tests/src/test/resources/csv
    - molgenis-platform-integration-tests/src/test/resources/obo
resources:
  dataset_folders: []
host:
  selected: http://localhost:8080/
  auth:
    - url: http://localhost:8080/
      username: admin
      password: admin
settings:
  import_action: add_update_existing
api:
  rest1: api/v1/
  rest2: api/v2/
  login: api/v1/login/
  group: api/plugin/security/group/
  member: api/plugin/security/group/{}/member
  import: plugin/importwizard/importFile/
  import_url: plugin/importwizard/importByUrl
  perm: menu/admin/permissionmanager/update/
  rls: menu/admin/permissionmanager/update/entityclass/rls
  add_theme: plugin/thememanager/add-bootstrap-theme
  logo: plugin/menumanager/upload-logo